doctype html
html(lang="en")
  head
    include /includes/head.pug
  body(class=variant === "docs" ? "docs" : undefined)
    a.skip-link(href="#main") Skip to content
    include /includes/header.pug
    #main
      block content
    include /includes/footer.pug
    script(src="/site.js" defer)
