footer.site-footer
  .site-footer-inner
    span Arbiter is experimental open-source software licensed under Apache-2.0.
    nav.footer-links(aria-label="Footer")
      a(href="/docs/") Documentation
      a(href="https://github.com/tylerreckart/arbiter/blob/main/SECURITY.md") Security
      a(href="https://github.com/tylerreckart/arbiter/blob/main/CHANGELOG.md") Changelog
      a(href="https://github.com/tylerreckart/arbiter") GitHub
