header.site-header
  nav.nav(aria-label="Main navigation")
    a.brand(href="/" aria-label="Arbiter")
      span.brand-mark(aria-hidden="true") ⛮
    .nav-links
      if variant === "docs"
        a(href="/") Home
        a(href="/docs/") Docs
        a(href="https://github.com/tylerreckart/arbiter") GitHub
        a.button(href="/#install") Install
      else
        a(href="/#tui") TUI
        a(href="/#why") Why Arbiter
        a(href="/docs/") Docs
        a(href="https://github.com/tylerreckart/arbiter") GitHub
        a.button(href="/#install") Install
